@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --extraLightBlue: #e7f5ff;
  --lightBlue: #a5d8ff;
  --hover: #1c7ed6;
  --blue: #1864ab;
  --green: #2f9e44;
  --red: #e03131;
}

body {
  background: #e7f5ff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.6px;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 28px 8px;
}

th {
  text-align: left;
  padding: 14px 8px;
}

.active {
  font-weight: 700;
  box-shadow: 0 3px #1864ab;
  transition: background 0.1s, box-shadow 0.3s, color 0.1s;
}

.trending {
  transition: transform 0.2s;
}

.hover:hover {
  box-shadow: 0 3px #1864ab;
  transition: background 0.1s, box-shadow 0.3s, color 0.1s;
}

.trending:hover {
  transform: scale(1.1);
}

.portfolio-container {
  max-width: 60rem;
  margin: 0 auto;
}

.overlay {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.663);
}
